@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: black;
  font-family: Orbitron, cursive;
  padding: 20px;
}

.main__block {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 25px);
  overflow: hidden;
}

.container {
  max-width: 1500px;
  margin: 0px auto;
}

.header {
  background-color: black;
  border-radius: 30px;
  height: 180px;
  margin: 0px 0px 30px 0px;
}
.header__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 0px 0px 25px 0px;
  padding: 15px 0px 0px 0px;
  color: white;
  font-size: 50px;
}
.header__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #024d39;
  border-radius: 100px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
}
.header__img {
  width: 200px;
  padding: 0px 20px;
}
.header__but-img {
  height: 60px;
  background-color: #308b42;
  border-radius: 50%;
}
.header__but-img:hover {
  background-color: white;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}