/* стили всех фото */

/* фото на ссылке */
.header__img {
	width: 200px;
	padding: 0px 20px;
}

/* ссылки */
.header__but-img {
	height: 60px;
	background-color: #308b42;
	border-radius: 50%;
}

.header__but-img:hover {
	background-color: white;
	/* height: 60px; */
	/* box-shadow: 0 0 10px white; */
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}
/* ------------------------------------------------------------------ */


/* фото монаха */
.home__img {
	width: 300px;
	padding: 20px 20px;
}

/* фото в тексте */
.home__text-img {
	width: 50px;
	height: 50px;
	position: absolute;
	padding: 5px;
}

/* фото рабочего места */
.home__work-place-img {
	width: 100%;
	max-width: 500px;
	border-radius: 50px;
	box-shadow: 0px 0px 20px #308b42;
	transition: 1.5s;
}

.home__work-place-img:hover {
	transform: scale(2);
}

/* низ страницы */
.footer__img {
	width: 60px;
	height: 60px;
}

.footer__img-link {
	width: 30px;
	height: 30px;
}

.footer__img-link:hover {
	background-color: white;
	box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
	border-radius: 50px;
}