@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=swap");
@font-face {
  font-family: "SITF";
  src: url("../fonts/Somewhere In Time Font.eot");
  src: local("☺"), url("../fonts/Somewhere In Time Font.woff") format("woff"), url("../fonts/Somewhere In Time Font.ttf") format("truetype"), url("../fonts/Somewhere In Time Font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.footer__nav-social:hover, .header__nav-img:hover {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
  background-color: #fff;
}

.tools, .homepage {
  background-color: #000;
  border-radius: 40px;
  color: #fff;
  flex: 1 1 auto;
}

body {
  font-family: Orbitron, cursive;
  padding: 10px;
  color: #fff;
  height: 100%;
}

.page {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

.header {
  background-color: #000;
  border-radius: 40px;
  height: 180px;
  margin: 0px 0px 45px 0px;
}
.header__title {
  text-align: center;
  height: 60px;
  margin: 0px 0px 25px 0px;
  padding: 15px 0px 0px 0px;
  font-size: 50px;
}
.header__title::before {
  content: "«";
  color: #fff;
  padding: 0px 10px 0px 0px;
}
.header__title::after {
  content: "»";
  color: #fff;
  padding: 0px 0px 0px 10px;
}
.header__title:hover::before, .header__title:hover:after {
  color: #308b42;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #024d39;
  border-radius: 40px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
}
.header__img {
  width: 230px;
  padding: 0px 20px;
}
.header__nav {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.header__nav-img {
  height: 50px;
  background-color: #308b42;
  border-radius: 50%;
}
.ul {
  display: flex;
}

.homepage__title {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 0px;
}
.homepage__img {
  width: 300px;
  padding: 20px 20px;
}
.homepage__text {
  margin: 0px 10px 0px 10px;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 20px;
  line-height: 60px;
}
.homepage__text:first-letter {
  font-size: 60px;
  color: #308b42;
}
.homepage__text-img {
  margin: 5px 0px 0px -15px;
}
.homepage__workplace {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
.homepage__workplace h2 {
  margin: 30px 0 30px 0;
}
.homepage__workplace h2:first-letter {
  font-size: 60px;
  color: #308b42;
}
.homepage__workplaceimg {
  max-width: 500px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px #308b42;
  transition: 1.5s;
}
.homepage__workplaceimg:hover {
  transform: scale(2);
}

.footer {
  background-color: #000;
  border-radius: 40px;
  margin: 30px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  flex: 0 0 auto;
  height: 170px;
}
.footer__img {
  width: 60px;
  height: 60px;
}
.footer__nav {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.footer__nav-link {
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}
.footer__nav-link:link {
  text-decoration: none;
  color: #308b42;
}
.footer__nav-link:visited {
  color: #308b42;
}
.footer__nav-link:hover {
  color: #fff;
}
.footer__nav-link::before {
  content: "«";
  padding: 0px 7px 0px 0px;
}
.footer__nav-link::after {
  content: "»";
  padding: 0px 0px 0px 7px;
}
.footer__nav-social {
  justify-content: center;
  align-items: center;
}
.footer__nav-social:hover {
  border-radius: 40px;
}
.footer__nav-social-link {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
}
.footer__created {
  color: #308b42;
  font-size: 10px;
  text-align: end;
  margin: -10px 15px 0px 0px;
}

@media (max-width: 1300px) {
  .container {
    padding: 0px 15px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0px 15px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0px 15px;
  }
}

@media (max-width: 992px) {
  .header {
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 992px) {
  .header__img {
    display: none;
  }
}

@media (max-width: 1300px) {
  .header__title {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .header__title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .homepage__title {
    flex-direction: column;
  }
}
@media (max-width: 1300px) {
  .homepage__img {
    width: 250px;
  }
}
@media (max-width: 992px) {
  .homepage__img {
    width: 200px;
  }
}
@media (max-width: 1300px) {
  .homepage__text {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .homepage__text {
    font-size: 20px;
  }
}
@media (max-width: 1300px) {
  .homepage__text:first-letter {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .homepage__text:first-letter {
    font-size: 40px;
  }
}
@media (max-width: 1300px) {
  .homepage__text-img {
    width: 40px;
    margin: 5px 0px 0px -15px;
  }
}
@media (max-width: 992px) {
  .homepage__text-img {
    width: 30px;
    margin: 10px 0px 0px -15px;
  }
}
@media (max-width: 1300px) {
  .homepage__workplace {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .homepage__workplace {
    font-size: 20px;
  }
}
@media (max-width: 1300px) {
  .homepage__workplace h2:first-letter {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .homepage__workplace h2:first-letter {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .homepage__workplaceimg {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .homepage__workplaceimg {
    max-width: 250px;
    transform: none;
  }
}
@media (max-width: 767px) {
  .homepage__workplaceimg:hover {
    transform: none;
  }
}

@media (max-width: 767px) {
  .footer {
    margin: 15px 0px 10px 0px;
    height: 220px;
  }
}
@media (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
  }
}