@import "style.scss";

.header__nav-first-link .link {
	color: $col-black;
}

.footer__nav-first-link .link {
	color: $col-black;
}

.homepage {
	@extend %main-space;

	// &__container {
	// }

	&__title {
		display: flex;
		align-items: center;
	}

	&__img {
		width: 20%;
		padding: 10px 10px;
	}

	&__text {
		width: 80%;

		font-size: 40px;
		font-style: italic;
		text-align: center;
		letter-spacing: 4px;
		word-spacing: 20px;
		line-height: 60px;

		&:first-letter {
			font-size: 60px;
			color: $col-green;
		}

		&-img {
			margin: 5px 0px 0px -15px;
		}
	}

	&__workplace {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px 0px 30px 0px;

		text-align: center;
		font-size: 40px;

		& h2 {
			margin: 30px 0 30px 0;

			&:first-letter {
				font-size: 60px;
				color: $col-green;
			}
		}
	}

	&__workplaceimg {
		max-width: 500px;
		border-radius: $bord-rad;
		box-shadow: 0px 0px 20px $col-green;
		transition: 1.5s;

		&:hover {
			transform: scale(2);
		}
	}
}

@import "_media";