@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=swap');

@font-face {
	font-family: 'SITF';
	src: url('../fonts/Somewhere In Time Font.eot');
	src: local('☺'), url('../fonts/Somewhere In Time Font.woff') format('woff'), url('../fonts/Somewhere In Time Font.ttf') format('truetype'), url('../fonts/Somewhere In Time Font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import "_nullstyle";

$bord-rad: 40px;
$box-shad: 0 0 50px rgba(255, 255, 255, 0.7);
$col-black: #000;
$col-green: #308b42;
$col-darkgreen: #024d39;
$col-white: #fff;

%link-hov {
	box-shadow: $box-shad;
	background-color: $col-white;
}

%main-space {
	flex: 1 1 auto;

	background-color: $col-black;
	border-radius: $bord-rad;
	color: $col-white;	
}

body {
	font-family: Orbitron, cursive;
	// font-family: 'SITF';
	padding: 20px;
	height: 100%;
	
}

.main__block {
	display: flex;
	flex-direction: column;

	min-height: calc(100vh - 20px);
	// height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1300px;
	margin: 0px auto;
}

.header {
	background-color: $col-black;
	border-radius: $bord-rad;
	height: 180px;
	margin: 0px 0px 45px 0px;

	&__text {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		height: 60px;
		margin: 0px 0px 25px 0px;
		padding: 15px 0px 0px 0px;

		color: $col-white;
		font-size: 50px;

		&::before {
			content: "|";
			color: $col-green;
			padding: 0px 10px 0px 0px;
		}

		&::after {
			content: "|";
			color: $col-green;
			padding: 0px 0px 0px 10px;
		}
	}

	&__button {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 0px 20px 0px 20px;

		height: 70px;

		background-color: $col-darkgreen;
		border-radius: $bord-rad;

		box-shadow: $box-shad;
	}

	&__img {
		width: 230px;
		padding: 0px 20px;
	}

	&__but-img {
		height: 50px;
		background-color: $col-green;
		border-radius: 50%;

		&:hover {
			@extend %link-hov;
		}
	}
}

.home {
	@extend %main-space;

	&__row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;

		padding: 10px 0px 0px 0px;
	}

	&__img {
		width: 300px;
		padding: 20px 20px;
	}

	&__text {
		margin: 0px 20px 0px 20px;

		font-size: 40px;
		font-style: italic;
		text-align: center;
		letter-spacing: 4px;
		word-spacing: 20px;
		line-height: 50px;

		&:first-letter {
			font-size: 60px;
			color: $col-green;
		}

		&::after {
			content: url(/img/hi-hop.png);
			position: absolute;
			padding: 0px 0px 0px 20px;
		}
	}

	&__work-place {
		padding: 20px 0px 30px 0px;

		text-align: center;
		font-size: 40px;

		& p {
			margin: 30px 0 30px 0;

			&:first-letter {
				font-size: 60px;
				color: $col-green;
			}
		}
	}

	&__work-place-img {
		max-width: 500px;
		border-radius: $bord-rad;
		box-shadow: 0px 0px 20px $col-green;
		transition: 1.5s;

		&:hover {
			transform: scale(2);
		}
	}
}

.footer {
	background-color: $col-black;
	border-radius: $bord-rad;
	margin: 30px 0px 30px 0px;
	padding: 10px;

	&__column {
		display: flex;
		flex-direction: column;
		height: 150px;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 60px;
		height: 60px;
	}

	&__row {
		padding: 10px;
	}

	&__span {
		color: $col-green;
		margin: 0px 5px;
	}

	&__link {
		font-size: 20px;

		&:link {
			text-decoration: none;
			color: $col-green;
		}

		&:visited {
			color: $col-green;
		}

		&:hover {
			color: $col-white;
		}
	}

	&__social {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	&__link-social {
		padding: 10px 10px 0px 10px;
	}

	&__img-link {
		width: 30px;
		height: 30px;

		&:hover {
			@extend %link-hov;
			border-radius: $bord-rad;
		}
	}
}