@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=swap');

@font-face {
	font-family: 'SITF';
	src: url('../fonts/Somewhere In Time Font.eot');
	src: local('☺'), url('../fonts/Somewhere In Time Font.woff') format('woff'), url('../fonts/Somewhere In Time Font.ttf') format('truetype'), url('../fonts/Somewhere In Time Font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import "_nullstyle";

$bord-rad: 40px;
$box-shad: 0 0 50px rgba(255, 255, 255, 0.7);
$col-black: #000;
$col-green: #308b42;
$col-darkgreen: #024d39;
$col-white: #fff;

%link-hov {
	box-shadow: $box-shad;
	background-color: $col-white;
}

%link-hov-active {
	box-shadow: $box-shad;
	background-color: $col-darkgreen;
}

%page-space {
	background-color: $col-black;
	border-radius: $bord-rad;
	color: $col-white;
	flex: 1 1 auto;
}

body {
	font-family: Orbitron, cursive;
	padding: 10px;
	color: #fff;
	height: 100%;
}

.page {
	border-radius: $bord-rad;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1300px;
	margin: 0px auto;
}

.header {
	background-color: $col-black;
	border-radius: $bord-rad;
	height: 180px;
	margin: 0px 0px 45px 0px;

	&__title {
		text-align: center;

		height: 60px;
		margin: 0px 0px 25px 0px;
		padding: 15px 0px 0px 0px;

		font-size: 50px;

		&::before {
			content: "«";
			color: $col-white;
			padding: 0px 10px 0px 0px;
		}

		&::after {
			content: "»";
			color: $col-white;
			padding: 0px 0px 0px 10px;
		}

		&:hover::before,
		&:hover:after {
			color: $col-green;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		align-items: center;

		width: 100%;
		height: 70px;

		background-color: $col-darkgreen;
		border-radius: $bord-rad;

		box-shadow: $box-shad;
	}

	&__img {
		width: 230px;
		padding: 0px 20px;
	}

	&__nav {
		width: 100%;
		justify-content: space-around;
		align-items: center;
	}

	&__nav-img {
		height: 50px;
		background-color: $col-green;
		border-radius: 50%;

		&:hover {
			@extend %link-hov;
		}
	}
}

.ul {
	display: flex;
}

.footer {
	background-color: $col-black;
	border-radius: $bord-rad;
	margin: 30px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
	text-align: center;

	flex: 0 0 auto;

	height: 170px;

	&__img {
		width: 60px;
		height: 60px;
	}

	&__nav {
		width: 100%;
		justify-content: center;
		align-items: center;

		padding: 5px;
	}

	&__nav-link {
		font-size: 20px;
		padding: 0px 10px 0px 10px;

		&:link {
			text-decoration: none;
			color: $col-green;
		}

		&:visited {
			color: $col-green;
		}

		&:hover {
			color: $col-white;
		}

		&::before {
			content: "«";
			padding: 0px 7px 0px 0px;
		}

		&::after {
			content: "»";
			padding: 0px 0px 0px 7px;
		}
	}

	&__nav-social {
		justify-content: center;

		padding: 10px 0px 5px 0px;
	}

	&__nav-social-link {
		&:hover {
			@extend %link-hov;
			border-radius: $bord-rad;
		}
	}

	&__nav-social-link {
		width: 30px;
		height: 30px;
		margin: 5px 10px;
	}

	&__created {
		color: $col-green;
		font-size: 10px;
		text-align: end;
		margin: -10px 15px 0px 0px;
	}
}

@import "_media";