@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=swap');

// @import "_foto_style";
// @import "_product_style";
// @import "_tools_style";
// @import "_contact_style";

$bord-rad: 30px;
$box-shad: 0 0 50px rgba(255, 255, 255, 0.7);
$back-col-black: #000;
$back-col-green: #308b42;

body {
	color: black;
	font-family: Orbitron, cursive;
	padding: 20px;
}

.main__block {
	display: flex;
	flex-direction: column;

	min-height: calc(100vh - 25px);
	overflow: hidden;
}

.container {
	max-width: 1500px;
	margin: 0px auto;
}

.header {
	background-color: $back-col-black;
	border-radius: $bord-rad;
	height: 180px;
	margin: 0px 0px 30px 0px;

	&__text {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		height: 60px;
		margin: 0px 0px 25px 0px;
		padding: 15px 0px 0px 0px;

		color: white;
		font-size: 50px;
	}

	&__button {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		height: 70px;

		background-color: #024d39;
		border-radius: $bord-rad;

		box-shadow: $box-shad;
	}

	&__img {
		width: 200px;
		padding: 0px 20px;
	}

	&__but-img {
		height: 60px;
		background-color: $back-col-green;
		border-radius: 50%;

		&:hover {
			background-color: white;
			box-shadow: $box-shad;
		}
	}
}

