@import "style.scss";

.header__nav-third-link .link {
	color: $col-black;
}

.header__nav-third-link .link:hover {
	color: #7a7a7a;
}

.footer__nav-third-link .link {
	color: $col-black;
}

.footer__nav-third-link .link:hover {
	color: #7a7a7a;
}

.tools {
	@extend %main-space;	
}

@import "_media";