@import "style.scss";

.header__nav-third .header__nav-link {
	color: $col-black;	
}

.header__nav-third .header__nav-link:hover {
	color: #7a7a7a;	
}

.footer__nav-third .footer__nav-link {
	color: $col-white;
}

.tools {
	@extend %page-space;	
}

@import "_media";