/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/* ------------------------- */


/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=swap');

body {
	color: rgb(0, 0, 0);
	font-family: Orbitron, cursive;
	padding: 20px;
}

/* главный блок */
.main_block {
	display: flex;
	flex-direction: column;

	min-height: calc(100vh - 25px);
	overflow: hidden;
}

.container {
	max-width: 1500px;
	margin: 0px auto;
}

/* ссылки */
.header {
	background-color: black;
	border-radius: 30px;

	height: 180px;
	margin: 0px 0px 30px 0px;
}

.header_row {
	display: flex;
	flex-direction: column;
}

.header_text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 60px;
	margin: 0px 0px 25px 0px;
	padding: 15px 0px 0px 0px;

	color: white;
	font-size: 50px;
}

.header_button {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	height: 70px;

	background-color: #024d39;
	border-radius: 100px;

	/*box-shadow: 0 0 30px 1px white;*/
	/*, inset 10px 10px 20px white; внутрення тень*/

	box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
}

/* содержимое домашней страницы */
.home_page {
	flex: 1 1 auto;

	background-color: black;
	border-radius: 30px;

	color: white;
}

.home_page_row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	padding: 10px 0px 0px 0px;
}

.data_text {
	margin: 0px 20px 0px 20px;

	font-size: 40px;
	font-style: italic;
	text-align: center;
	letter-spacing: 4px;
	word-spacing: 20px;
	line-height: 50px;
}

.data_text::first-letter {
	font-size: 60px;
	color: #308b42;
}

.home_page_work_place {
	padding: 20px 0px 30px 0px;

	text-align: center;
	font-size: 40px;
}

.home_page_work_place p {
	margin: 30px 0 30px 0;
}

.home_page_work_place p::first-letter {
	font-size: 60px;
	color: #308b42;
}

/* низ страницы */
.footer {
	background-color: black;
	border-radius: 30px;
	margin: 30px 0px 10px 0px;
	padding: 10px;
}

.footer_row {
	display: flex;
	flex-direction: column;
	height: 150px;
	justify-content: center;
	align-items: center;
}

.footer_data {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer_link {
	padding: 10px;
}

.footer_link_line {
	font-size: 20px;
}

.footer_line {
	color: #308b42;
	margin: 0px 5px;
}

.footer_link_line:link {
	text-decoration: none;
	color: #308b42;
}

.footer_link_line:visited {
	color: #308b42;
}

.footer_link_line:hover {
	color: white;
}

.footer_link_social {
	padding: 10px 10px 0px 10px;
}