/* содержимое домашней страницы */
.home {
	flex: 1 1 auto;

	background-color: black;
	border-radius: 30px;

	color: white;
}

.home__row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	padding: 10px 0px 0px 0px;
}

.home__text {
	margin: 0px 20px 0px 20px;

	font-size: 40px;
	font-style: italic;
	text-align: center;
	letter-spacing: 4px;
	word-spacing: 20px;
	line-height: 50px;
}

.home__text::first-letter {
	font-size: 60px;
	color: #308b42;
}

.home__work-place {
	padding: 20px 0px 30px 0px;

	text-align: center;
	font-size: 40px;
}

.home__work-place p {
	margin: 30px 0 30px 0;
}

.home__work-place p::first-letter {
	font-size: 60px;
	color: #308b42;
}

/* низ страницы */
.footer {
	background-color: black;
	border-radius: 30px;
	margin: 30px 0px 10px 0px;
	padding: 10px;
}

.footer__column{
	display: flex;
	flex-direction: column;
	height: 150px;
	justify-content: center;
	align-items: center;
}

.footer__social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer__row {
	padding: 10px;
}

.footer__link {
	font-size: 20px;
}

.footer__span {
	color: #308b42;
	margin: 0px 5px;
}

.footer__link:link {
	text-decoration: none;
	color: #308b42;
}

.footer__link:visited {
	color: #308b42;
}

.footer__link:hover {
	color: white;
}

.footer_social-link {
	padding: 10px 10px 0px 10px;
}